<section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">
      <!-- <nav class="flex items-center justify-between mb-40">
                    <img src="assets/image/navbar-logo.png" alt="Logo">

                    <button class="px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md rounded-md hover:bg-gray-700 hover:text-white transition ease-linear duration-500">Get my CV</button>
                </nav> -->

      <div class="text-center">
        <div class="flex justify-center mb-16">
          <!-- <img src="assets/image/home-img.png" alt="Image"> -->
        </div>

        <h6
          class="font-medium text-neutral-50 text-lg md:text-2xl uppercase mb-8"
        >
          Share Me
        </h6>

        <h1
          class="font-normal text-neutral-50 text-4xl md:text-7xl leading-none mb-8"
        >
          Share Code Easily
        </h1>

        <p class="font-normal text-neutral-50 text-md md:text-xl mb-16">
          Sharing is now easy with everyone around, anywhere and all.
        </p>

        <a
          (click)="onShareClick()"
          class="cursor-pointer px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold bg-gray-700 text-gray-50 text-sm rounded-md hover:bg-gray-50 hover:text-gray-700 transition ease-linear duration-500"
        >
          Share Now</a
        >
      </div>
    </div>
  </section>

  <section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-neutral-800 px-8 py-10 rounded-md">
          <h4 class="font-medium text-neutral-50 text-lg mb-4">
            High experience
          </h4>

          <p class="font-normal text-neutral-400 text-md">
            Lorem ipsum dolor sit amet, consectetur <br />
            adipiscing elit, sed do eiusmod tempor <br />
            incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="bg-neutral-800 px-8 py-10 rounded-md">
          <h4 class="font-medium text-neutral-50 text-lg mb-4">
            Useful sandboxes
          </h4>

          <p class="font-normal text-neutral-400 text-md">
            Lorem ipsum dolor sit amet, consectetur <br />
            adipiscing elit, sed do eiusmod tempor <br />
            incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="bg-neutral-800 px-8 py-10 rounded-md">
          <h4 class="font-medium text-neutral-50 text-lg mb-4">
            Success side projects
          </h4>

          <p class="font-normal text-neutral-400 text-md">
            Lorem ipsum dolor sit amet, consectetur <br />
            adipiscing elit, sed do eiusmod tempor <br />
            incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </section>